@font-face {
  font-family: "Outfit-Regular";
  src: url(../fonts/Outfit-Regular.eot);
  src: url(../fonts/Outfit-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Outfit-Regular.otf) format("otf"), url(../fonts/Outfit-Regular.svg#Outfit-Regular) format("svg"),
    url(../fonts/Outfit-Regular.ttf) format("truetype"), url(../fonts/Outfit-Regular.woff) format("woff"),
    url(../fonts/Outfit-Regular.woff2) format("woff2");
}
